<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terang Pranctice</title>
</head>
<body>
    <div class="container">
        <ul>
            {#This is a comment in Jinja#}
            {% for key in marks.keys() %}
                <li>The marks of {{key}} is : {{marks.get(key)}}</li>
                {% if marks.get(key)>80 %}
                    <span>Good</span>
                    
                {% endif %}
            {% endfor %}


            {# <li>The marks of Alan is : {{marks['alan']}}</li> #}
            {# <li>The marks of Brian is : {{marks['brian']}}</li> #}
            {# <li>The marks of Calvin is : {{marks['calvin']}}</li> #}
            {# <li>The marks of Dict is : {{marks['dict']}}</li> #}
            {# <li>The marks of Elies is : {{marks['elies']}}</li> #}
            {# <li>The marks of Franklin is : {{marks['franklin']}}</li> #}
            {# <li>The marks of G.Terang is : {{marks['G.Terang']}}</li> #}

        </ul>
    </div>
</body>
</html>